/AndroidApp/.gradle
/AndroidApp/.idea
/AndroidApp/gradle
/AndroidApp/gradlew
/AndroidApp/gradlew.bat
/AndroidApp/.gitignore
/AndroidApp/local.properties

/AndroidApp/app/libs
/AndroidApp/app/.gitignore
/AndroidApp/app/build.gradle
/AndroidApp/app/proguard-rules.pro

/AndroidApp/app/src/androidTest
/AndroidApp/app/src/test
/AndriodApp/app/src/main/java/com/barbaris/chat/models/DatabaseModel.java

/API/.mvn
/API/mvnw
/API/mvnw.cmd
/API/src/test
/API/src/main/resources/application.properties
